@model PHMS2.Models.ViewModels.InPatientReporter.InPatientOutDepartmentDetail

<div class="panel-body">
    <table class="table table-hover table-bordered table-striped text-center">
        <tr>
            <th colspan="5" class="text-center">
                出院人数详细信息
            </th>
        </tr>
        <tr>
            <td colspan="5" class="text-left">
                <small>时间：@ViewBag.startTime -- @ViewBag.endTime</small>
            </td>
        </tr>
        <tr>
            <td>序号</td>
            <td>出院科室</td>
            <td>住院病人病案号</td>
            <td>住院次数</td>
            <td></td>
        </tr>
        @{ int i = 1;}
        @foreach (var item in Model.InPatientOutDepartmentDomainList)
        {
            <tr>
                <td>@i</td>
                <td>@item.DepartmentName</td>
                <td>@item.CaseNumber</td>
                <td>@item.Times</td>
                <td></td>
            </tr>
            i++;
        }
       
    </table>
</div>
