@model  PHMS2.Models.ViewModels.InPatientReporter.InPatientAntibioticCostRate

<div class="panel-body">
    <table class="table table-hover table-bordered table-striped text-center">
        <tr>
            <th colspan="3" class="text-center">
                抗菌药物费用占药费总额的百分率
            </th>
        </tr>
        @if (ViewBag.errorMessage != null)
        {
            <tr>
                <th>
                    @ViewBag.errorMessage
                </th>
            </tr>

        }
        <tr>
            <td colspan="3" class="text-left">
                <small>时间：@ViewBag.startTime -- @ViewBag.endTime</small>
            </td>
        </tr>
        <tr>
            <td>已使用抗菌药物总费用（元）</td>
            <td>已使用药品总费用（元）</td>
            <td>抗菌药物费用占药费总额的百分率</td>
        </tr>
        <tr>
            <td>@Model.TotalAntibioticCost</td>
            <td>@Model.TotalDrugCost</td>
            <td>@Model.Rate %</td>
        </tr>
    </table>
</div>
