@model  PHMS2.Models.ViewModels.InPatientReporter.DepartmentAntibioticUsageRate
<div class="panel-body">
    <table class="table table-hover table-bordered table-striped text-center">
        <tr>
            <th colspan="5" class="text-center">
                住院患者抗菌药物使用率（分院科两级指标）
            </th>
        </tr>
        <tr>
            <td colspan="5" class="text-left">
                <small>时间：@ViewBag.startTime -- @ViewBag.endTime</small>
            </td>
        </tr>
        <tr>
            <td>序号</td>
            <td>出院科室</td>
            <td>出院患者使用抗菌药物总例数（单位：个）</td>
            <td>同期出院总人数(单位：人)</td>
            <td>抗菌药物使用率（%）</td>
        </tr>
        @{ int i = 1;}
        @foreach (var item in Model.DepartmentAntibioticUsageRateList)
        {
            <tr>
                <td>@i</td>
                <td>@item.DepartmentName</td>
                <td>@item.AntibioticPerson</td>
                <td>@item.RegisterPerson</td>
                <td>@item.UsageRate</td>
            </tr>
            i++;
        }
       <tr>
           <td>@i</td>
           <td>@Model.Hospital</td>
           <td>@Model.TotalAntibioticPerson</td>
           <td>@Model.TotalRegisterPerson</td>
           <td>@Model.TotalUsageRate</td>
       </tr>
    </table>
</div>